<%# app/views/quotes/quotes.html.erb %>

<% obj.each do |quote| %>
  <div>
    <p>[<a href="/quote/show/id=<%= quote["id"] %>"><%= quote["id"] %></a>]
      &quot;<%= quote["quote"] %>&quot;<br/>
      &ndash;<%= quote["attribution"] %>
    </p>
    <i>(Submitted by <%= quote["submitter"] %>)
  </div>
<% end %>